
USE [Fancy_Blog]
GO
/****** Object:  FullTextCatalog [post_catalog]    Script Date: 7/20/2020 4:46:48 AM ******/
CREATE FULLTEXT CATALOG [post_catalog]WITH ACCENT_SENSITIVITY = ON
AS DEFAULT

GO
/****** Object:  Table [dbo].[category]    Script Date: 7/20/2020 4:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[father_category] [int] NULL,
 CONSTRAINT [category_PK] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[comment]    Script Date: 7/20/2020 4:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[content] [nvarchar](150) NOT NULL,
	[date_modify] [varchar](25) NOT NULL DEFAULT (getdate()),
	[users_id] [int] NOT NULL,
 CONSTRAINT [comment_id_PK] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contact]    Script Date: 7/20/2020 4:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contact](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone_number] [char](11) NULL,
	[content] [text] NOT NULL,
 CONSTRAINT [contact_id_PK] PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[post]    Script Date: 7/20/2020 4:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[users_id] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[content] [text] NOT NULL,
	[background] [varchar](MAX) NULL DEFAULT ('https://wallpaperplay.com/walls/full/c/7/0/195311.jpg'),
	[category] [int] NOT NULL,
	[location] [text] NULL,
	[date_modify] [varchar](25) NOT NULL DEFAULT (getdate()),
 CONSTRAINT [post_id_PK] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/20/2020 4:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](15) NOT NULL,
	[decription] [varchar](255) NULL,
 CONSTRAINT [role_id_PK] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/20/2020 4:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[users_id] [int] IDENTITY(1,1) NOT NULL,
	[users_name] [nvarchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[permission] [int] NOT NULL,
	[user_password] [varchar](125) NOT NULL,
	[date_modify] [varchar](25) NOT NULL DEFAULT (getdate()),
	[description] [nvarchar](150) NULL,
	avatar varchar(MAX) null default ('https://previews.123rf.com/images/yupiramos/yupiramos1610/yupiramos161005146/63681963-avatar-man-smiling-wearing-sunglasses-and-travel-suitcases-over-white-background-vector-illustration.jpg'), 
	fb_link varchar(MAX) null default ('https://www.facebook.com/profile.php?id=100004490973658'),
	address nvarchar(150) null default (N'Đà Nẵng, Việt Nam'), 
	major nvarchar(100) null default ('Software Engineering')
 CONSTRAINT [user_id_PK] PRIMARY KEY CLUSTERED 
(
	[users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [name], [father_category]) VALUES (1, N'Điểm đến', NULL)
INSERT [dbo].[category] ([category_id], [name], [father_category]) VALUES (2, N'Việt Nam', 1)
INSERT [dbo].[category] ([category_id], [name], [father_category]) VALUES (3, N'Châu Á', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([comment_id], [post_id], [content], [date_modify], [users_id]) VALUES (1, 1, N'Tôi muốn đến Đà Nẵng', N'Jul 17 2020  9:19AM', 1)
INSERT [dbo].[comment] ([comment_id], [post_id], [content], [date_modify], [users_id]) VALUES (2, 5, N'Tôi Yêu Thái Nguyên', N'Jul 17 2020  9:19AM', 2)
INSERT [dbo].[comment] ([comment_id], [post_id], [content], [date_modify], [users_id]) VALUES (3, 5, N'Để tôi dẫn bạn đi chơi', N'Jul 17 2020  9:19AM', 2)
SET IDENTITY_INSERT [dbo].[comment] OFF
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([contact_id], [name], [email], [phone_number], [content]) VALUES (1, N'Sang', N'San213g@gmail.com', N'0394293293 ', N'i need help')
INSERT [dbo].[contact] ([contact_id], [name], [email], [phone_number], [content]) VALUES (2, N'YouQ', N'youq1235@gmail.com', N'0523434221 ', N'Help  me please')
INSERT [dbo].[contact] ([contact_id], [name], [email], [phone_number], [content]) VALUES (5, N'Alice', N'alicelalice@gmail.com', N'0904233321 ', N'Help me please')
SET IDENTITY_INSERT [dbo].[contact] OFF
SET IDENTITY_INSERT [dbo].[post] ON 

INSERT [dbo].[post] ([post_id], [users_id], [title], [content], [category], [location], [date_modify], background) VALUES (67, 3, N'Tokyo Thành Phố Đầy Hứa Hẹn', N'Lorem ipsum',  3, N'Tokyo', N'Jul 13 2020  6:58PM', ISNULL(null, 'https://www.pullman-danang.com/wp-content/uploads/sites/86/2019/05/DJI_0004.jpg'))
SET IDENTITY_INSERT [dbo].[post] OFF
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [name], [decription]) VALUES (1, N'ADMIN', N'Controll all user, access all permission')
INSERT [dbo].[roles] ([role_id], [name], [decription]) VALUES (2, N'USER', NULL)
SET IDENTITY_INSERT [dbo].[roles] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([users_id], [users_name], [email], [permission], [user_password], [date_modify], [description]) VALUES (1, N'Khang Võ', N'kinvo5120@gmail.com', 1, N'se1401', N'Jul 10 2020 10:43AM', N'Chàng trai ngu muội')
INSERT [dbo].[users] ([users_id], [users_name], [email], [permission], [user_password], [date_modify], [description]) VALUES (2, N'Nam Trần', N'namtran@gmail.com', 1, N'se1401', N'Jul 10 2020 10:43AM', N'Cóc vàng said: ơ anh có biết gì đâu')
INSERT [dbo].[users] ([users_id], [users_name], [email], [permission], [user_password], [date_modify], [description]) VALUES (3, N'Thần Khuyển', N'kutsw34@gmail.com', 2, N'123456', N'Jul 10 2020 10:43AM', N'Giết Thần Điêu')
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__users__AB6E6164DF917C30]    Script Date: 7/20/2020 4:46:49 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  FullTextIndex     Script Date: 7/20/2020 4:46:49 AM ******/
CREATE FULLTEXT INDEX ON [dbo].[post](
[content] LANGUAGE 'Vietnamese', 
[title] LANGUAGE 'Vietnamese')
KEY INDEX [post_id_PK]ON ([post_catalog], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = SYSTEM)


GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [category_FK] FOREIGN KEY([father_category])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [category_FK]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [post_id_FK] FOREIGN KEY([post_id])
REFERENCES [dbo].[post] ([post_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [post_id_FK]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [user_id123_FK] FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [user_id123_FK]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [category12_FK] FOREIGN KEY([category])
REFERENCES [dbo].[category] ([category_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [category12_FK]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [user_id_FK1] FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [user_id_FK1]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [role_FK1] FOREIGN KEY([permission])
REFERENCES [dbo].[roles] ([role_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [role_FK1]
GO
